<nav>
        <div class="nav">
            <div class="title" style="width:100%;">
                <div class="Dashbrd" style="width: 152px;">
                    <div class="dropdn" style="margin-left: 2% !important;">
                        <a href="#">
                            <img src="assets/images/SVG/ic_livetracking.svg" style="height:20px;background-color:#7048c3;" alt="logo" />
                        </a>
                        <button class="dropbtn">
                            <strong>VEHICLE DETAILS</strong>
                        </button>
                    </div>
                </div>
            </div>
            <div class="navigation">
                <a href="login.html">
                    <span> </span>
                </a>
            </div>
        </div>
    </nav>
    <div class="wrapperd3" style="height:613px">
        <div class="Dashboard" style="height:470px;">
            <div class="Dashboard_top">
                <div class="tadays_links">
                    <a href="#">HOME</a> /
                    <a href="#">DASHBOARD</a> /
                    <a href="#">VEHICLE LIST</a>/
                    <a href="#">AP01AP1234</a>
                </div>
            </div>
            <div class="vehile_details_dash_left" style="height: 303px;width: 200px;border: solid 1px #eaeaea;float: left;">
                <div class="row" style="margin-left:0px !important">
                    <div class="col-sm-12">
                        <div class="form-group" style="margin-bottom:11px !important">
                          <h4 style="color: #7048c3;font-weight: 600;margin-bottom: 1px;">Search Filter</h4>
                          <!-- <h7 style="font-size: 10px;color: #cdced0;"> Search By DL No./Dates/Panic Alerts</h7> -->
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-left:0px !important">
                    <div class="col-sm-12">
                        <div class="form-group" style="margin-bottom:18px !important">
                            <span>
                                <select style="width: 174px;">
                                    <option value="volvo">Total Records</option>
                                </select>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-left:0px !important">
                    <div class="col-sm-12">
                        <div class="form-group" style="margin-bottom:18px !important">
                            <span>
                                <select style="width: 174px;">
                                    <option value="volvo">Select DL No.</option>
                                </select>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-left:0px !important">
                    <div class="col-sm-12">
                        <div class="form-group" style="margin-bottom:18px !important">
                            <span>
                                <select style="width: 174px;">
                                    <option value="volvo">Select Panic Alert Type</option>
                                </select>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-left:0px !important">
                    <div class="col-sm-12">
                      <div class="form-group" style="margin-bottom:15px !important; width: 167px;">
                          <input id="datepicker" class="form-input" type="text" placeholder="From Date" style="" />
                      </div>
                    </div>

                </div>
                <div class="row" style="margin-left:0px !important">
                    <div class="col-sm-12">
                      <div class="form-group" style="margin-bottom:15px !important; width: 167px;">
                                <input id="datepickers" class="form-input" type="text" placeholder="To Date" style="" />
                            </div>
                    </div>
                </div>
                <div class="row" style="margin-left:0px !important">
                    <div class="col-sm-12">
                        <div class="form-group" style="margin-bottom:18px !important">
                            <a href="">
                                <button type="button" class="qrCodeBtn" style=" height: 31px;color:#575458; width: 115px;margin-left: 23px;background-color: #a491cc;">
                                    Search </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vehile_details_dash_right" style=" height: 574px;width: 875px;float: right;">
                <div class="row" style="margin-left:0px !important">
                    <div class="col-sm-1" style="height: 60px;">
                        <div class="form-group" style="margin-bottom:11px !important;">
                            <img src="assets/images/SVG/ic_deviceInstalled.svg" alt="logo" style="height: 47px;margin-top: 7px;margin-bottom: 5px;border-radius: 26px;width: 39px; background-color: #fff6ed;">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group" style="margin-top: 21px;margin-left: -19px;height: 1px;">
                            <h4 style="color: black;font-weight: 600;font-size: 15px;">Vehcle Number : AP04AP1234</h4>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-left:0px !important;height: 101px;">
                    <div class="col-sm-12">
                        <div class="col-sm-3" style="padding-right: 15px;">
                            <div class="dashboard_left_first" style="background: #f5f5f5 !important;height: 92px;background:none;">
                                <div class="row">
                                    <div class="col-sm-2" style="float: left;">
                                        <img src="assets/images/SVG/ic_deviceInstalled.svg" alt="logo" style="height: 35px;margin-left: 22px;margin-top: 26px;margin-bottom: 5px;">
                                    </div>
                                </div>
                                <div class="col-sm-6" style="float: right;">
                                    <div class="momentTime" style="margin-top: -39px;margin-left: -36px;width: 120px;">
                                        <span style="font-size:14px;color: #626873;">
                                            Movement Time </span>
                                        <br>
                                        <span style="font-size:12px;color: #4f5b6d; font-weight:bold;"> 120Hrs. </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3" style="padding-right: none;">
                            <div class="dashboard_left_first" style="background: #f5f5f5 !important;height: 92px;background:none;">
                                <div class="row">
                                    <div class="col-sm-2" style="float: left;">
                                        <img src="assets/images/SVG/ic_deviceInstalled.svg" alt="logo" style="height: 35px;margin-left: 22px;margin-top: 26px;margin-bottom: 5px;">
                                    </div>
                                </div>
                                <div class="col-sm-6" style="float: right;">
                                    <div class="momentTime" style="margin-top: -39px;margin-left: -36px;width: 120px;">
                                        <span style="font-size:14px;color: #626873;">
                                            Total Stop Time </span>
                                        <br>
                                        <span style="font-size:12px;color: #4f5b6d; font-weight:bold;"> 81Hrs. </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3" style="padding-right: none !important;">
                            <div class="dashboard_left_first" style="background: #f5f5f5 !important;height: 92px;background:none;">
                                <div class="row">
                                    <div class="col-sm-2" style="float: left;">
                                        <img src="assets/images/SVG/ic_deviceInstalled.svg" alt="logo" style="height: 35px;margin-left: 22px;margin-top: 26px;margin-bottom: 5px;">
                                    </div>
                                </div>
                                <div class="col-sm-6" style="float: right;">
                                    <div class="momentTime" style="margin-top: -39px;margin-left: -36px;width: 120px;">
                                        <span style="font-size:14px;color: #626873;">
                                            Travelled Dist. </span>
                                        <br>
                                        <span style="font-size:12px;color: #4f5b6d; font-weight:bold;"> 784Km. </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3" style="padding-right: none !important;">
                            <div class="dashboard_left_first" style="background-color: #f5f5f5 !important;height: 92px;background:none;">
                                <div class="row">
                                    <div class="col-sm-2" style="float: left;">
                                        <img src="assets/images/SVG/ic_deviceInstalled.svg" alt="logo" style="height: 35px;margin-left: 22px;margin-top: 26px;margin-bottom: 5px;">
                                    </div>
                                </div>
                                <div class="col-sm-6" style="float: right;">
                                    <div class="momentTime" style="margin-top: -39px;margin-left: -36px;width: 120px;">
                                        <span style="font-size:14px;color: #626873;">
                                            Average Speed </span>
                                        <br>
                                        <span style="font-size:12px;color: #4f5b6d; font-weight:bold;"> 40Kmph. </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table vehicleInstalltablePadding">
                    <thead>
                        <tr style="background-color: #E8D8F6; border-bottom: solid 1px #ccc;">
                            <th>Trip Date</th>
                            <th>DL Number</th>
                            <th>Start Location</th>
                            <th style="padding-left: 25px !important;">End Location</th>
                            <th style="padding-left: 26px !important;">Panic Alert</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="padding-left: 13px !important;">
                                18/09/2018</td>
                            <td style="padding-left: 12px !important;padding-top: 10px !important;">DL234567890</td>
                            <td style="padding-left: 14px !important;padding-top: 10px !important;">SEZ, Hitech City - 2, Gachibowli, Hyderabad</td>
                            <td style="padding-left: 23px !important;padding-top: 10px !important;">JNTU Kukatpally Hyderabad, 1:44PM</td>
                            <td style="padding-left: 26px !important;padding-top: 10px !important;color:#63c48c;">No</td>
                        </tr>
                        <tr>
                            <td style="padding-left: 13px !important;">
                                18/09/2018</td>
                            <td style="padding-left: 12px !important;padding-top: 10px !important;">DL234567890</td>
                            <td style="padding-left: 14px !important;padding-top: 10px !important;">SEZ, Hitech City - 2, Gachibowli, Hyderabad</td>
                            <td style="padding-left: 23px !important;padding-top: 10px !important;">JNTU Kukatpally Hyderabad, 1:44PM</td>
                            <td style="padding-left: 26px !important;padding-top: 10px !important;color:#63c48c;">No</td>
                        </tr>
                        <tr>
                            <td style="padding-left: 13px !important;">
                                18/09/2018</td>
                            <td style="padding-left: 12px !important;padding-top: 10px !important;">DL234567890</td>
                            <td style="padding-left: 14px !important;padding-top: 10px !important;">SEZ, Hitech City - 2, Gachibowli, Hyderabad</td>
                            <td style="padding-left: 23px !important;padding-top: 10px !important;">JNTU Kukatpally Hyderabad, 1:44PM</td>
                            <td style="padding-left: 26px !important;padding-top: 10px !important;color:#63c48c;">No</td>
                        </tr>
                        <tr>
                            <td style="padding-left: 13px !important;">
                                18/09/2018</td>
                            <td style="padding-left: 12px !important;padding-top: 10px !important;">DL234567890</td>
                            <td style="padding-left: 14px !important;padding-top: 10px !important;">SEZ, Hitech City - 2, Gachibowli, Hyderabad</td>
                            <td style="padding-left: 23px !important;padding-top: 10px !important;">JNTU Kukatpally Hyderabad, 1:44PM</td>
                            <td style="padding-left: 26px !important;padding-top: 10px !important;color:#63c48c;">No</td>
                        </tr>
                        <tr>
                            <td style="padding-left: 13px !important;">
                                18/09/2018</td>
                            <td style="padding-left: 12px !important;padding-top: 10px !important;">DL234567890</td>
                            <td style="padding-left: 14px !important;padding-top: 10px !important;">SEZ, Hitech City - 2, Gachibowli, Hyderabad</td>
                            <td style="padding-left: 23px !important;padding-top: 10px !important;">JNTU Kukatpally Hyderabad, 1:44PM</td>
                            <td style="padding-left: 26px !important;padding-top: 10px !important;color:#63c48c;">No</td>
                        </tr>
                        <tr>
                            <td style="padding-left: 13px !important;">
                                AP28DK1234</td>
                            <td style="padding-left: 12px !important;padding-top: 10px !important;">DL234567890</td>
                            <td style="padding-left: 14px !important;padding-top: 10px !important;">SEZ, Hitech City - 2, Gachibowli, Hyderabad</td>
                            <td style="padding-left: 23px !important;padding-top: 10px !important;">JNTU Kukatpally Hyderabad, 1:44PM</td>
                            <td style="padding-left: 26px !important;padding-top: 10px !important;color:red;">Yes</td>
                        </tr>
                        <tr>
                            <td style="padding-left: 13px !important;">
                                18/09/2018</td>
                            <td style="padding-left: 12px !important;padding-top: 10px !important;">DL234567890</td>
                            <td style="padding-left: 14px !important;padding-top: 10px !important;">SEZ, Hitech City - 2, Gachibowli, Hyderabad</td>
                            <td style="padding-left: 23px !important;padding-top: 10px !important;">JNTU Kukatpally Hyderabad, 1:44PM</td>
                            <td style="padding-left: 26px !important;padding-top: 10px !important;color:#63c48c;">No</td>
                        </tr>
                        <tr>
                            <td style="padding-left: 13px !important;">
                                18/09/2018</td>
                            <td style="padding-left: 12px !important;padding-top: 10px !important;">DL234567890</td>
                            <td style="padding-left: 14px !important;padding-top: 10px !important;">SEZ, Hitech City - 2, Gachibowli, Hyderabad</td>
                            <td style="padding-left: 23px !important;padding-top: 10px !important;">JNTU Kukatpally Hyderabad, 1:44PM</td>
                            <td style="padding-left: 26px !important;padding-top: 10px !important;color:#63c48c;">No</td>
                        </tr>
                    </tbody>
                </table>
                <div class="table_bottom">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="javascript:void(0);" style="border: none;">
                                <u>Prev</u>
                            </a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="javascript:void(0);">1</a>
                        </li>
                        <li class="page-item ">
                            <a class="page-link" href="javascript:void(0);">2</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="javascript:void(0);">3</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="javascript:void(0);" style="border: none;">.</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="javascript:void(0);" style="border: none;">.</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="javascript:void(0);" style="border: none;">.</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="javascript:void(0);">1,456</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="javascript:void(0);" style="border: none;">
                                <u>Next</u>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>