<nav>
        <div class="nav">
            <div class="title" style="width:100%;">
                <div class="Dashbrd">
                    <div class="dropdn" style="margin-left: 2%;">
                        <a href="#">
                            <img src="assets/images/SVG/ic_livetracking.svg" style="height:20px;background-color:#7048c3;" alt="logo" />
                        </a>
                        <button class="dropbtn">
                            <strong>LIVE TRACKING</strong>
                        </button>

                    </div>
                </div>

            </div>
            <div class="navigation">
                <a href="login.html">
                    <span> </span>
                </a>
            </div>
        </div>
    </nav>
    <div class="wrapperd3">

        <div class="Dashboard" style="height:470px;">
            <div class="Dashboard_top" style="height:432px;">
                <div class="tadays_links">
                    <a href="#">HOME</a> /
                    <a href="#">DASHBOARD</a> /
                    <a href="#">LIVE TRACKING</a>
                </div>
                <table class="table vehicleInstalltablePadding">
                    <thead>
                        <tr style="background-color: #E8D8F6; border-bottom: solid 1px #ccc;">
                            <th>Vechile Number</th>
                            <th>DL Number</th>
                            <th>Passenger Mobile Number</th>
                            <th style="padding-left: 25px !important;">Start Location</th>
                            <th style="padding-left: 25px !important;">End Location</th>
                            <th style="padding-left: 26px !important;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="padding-left: 25px !important;">
                                <a href="Police_05-vehicleDetails3.html">
                                    <img src="assets/images/SVG/ic_VehDevicemap.svg" alt="logo" class="autoimg"> AP28DK1234 </a>
                            </td>
                            <td style="padding-left: 12px !important;padding-top: 10px !important;">DL234567890</td>
                            <td style="padding-top: 10px !important;padding-left: 14px !important;">9030165487</td>
                            <td style="padding-left: 23px !important;padding-top: 10px !important;">SEZ, Hitech City - 2, Gachibowli, Hyderabad</td>
                            <td style="padding-left: 23px !important;padding-top: 10px !important;">JNTU Kukatpally Hyderabad</td>
                            <td style="padding-left: 23px !important;padding-top: 10px !important;color:#63c48c;">Active</td>
                        </tr>
                        <tr style="background-color: #fff6ed;border-bottom:solid 1px #ccc;">
                            <td style="padding-left: 25px !important;">
                                <a href="Police_05-vehicleDetails3.html">
                                    <img src="assets/images/SVG/ic_VehDevicemap.svg" alt="logo" class="autoimg"> AP28DK1234 </a>
                            </td>
                            <td style="padding-left: 12px !important;padding-top: 10px !important;">DL234567890</td>
                            <td style="padding-top: 10px !important;padding-left: 14px !important;">9030165487</td>
                            <td style="padding-left: 23px !important;padding-top: 10px !important;">SEZ, Hitech City - 2, Gachibowli, Hyderabad</td>
                            <td style="padding-left: 23px !important;padding-top: 10px !important;">JNTU Kukatpally Hyderabad</td>
                            <td style="padding-left: 23px !important;padding-top: 10px !important;color:#63c48c;">Active</td>
                        </tr>
                        <tr>
                            <td style="padding-left: 25px !important;">
                                <a href="Police_05-vehicleDetails3.html">
                                    <img src="assets/images/SVG/ic_VehDevicemap.svg" alt="logo" class="autoimg"> AP28DK1234 </a>
                            </td>
                            <td style="padding-left: 12px !important;padding-top: 10px !important;">DL234567890</td>
                            <td style="padding-top: 10px !important;padding-left: 14px !important;">9030165487</td>
                            <td style="padding-left: 23px !important;padding-top: 10px !important;">SEZ, Hitech City - 2, Gachibowli, Hyderabad</td>
                            <td style="padding-left: 23px !important;padding-top: 10px !important;">JNTU Kukatpally Hyderabad</td>
                            <td style="padding-left: 23px !important;padding-top: 10px !important;color:#63c48c;">Active</td>
                        </tr>
                        <tr>
                            <td style="padding-left: 25px !important;">
                                <a href="Police_05-vehicleDetails3.html">
                                    <img src="assets/images/SVG/ic_VehDevicemap.svg" alt="logo" class="autoimg"> AP28DK1234 </a>
                            </td>
                            <td style="padding-left: 12px !important;padding-top: 10px !important;">DL234567890</td>
                            <td style="padding-top: 10px !important;padding-left: 14px !important;">9030165487</td>
                            <td style="padding-left: 23px !important;padding-top: 10px !important;">SEZ, Hitech City - 2, Gachibowli, Hyderabad</td>
                            <td style="padding-left: 23px !important;padding-top: 10px !important;">JNTU Kukatpally Hyderabad</td>
                            <td style="padding-left: 23px !important;padding-top: 10px !important;color:#63c48c;">Active</td>
                        </tr>
                        <tr>
                            <td style="padding-left: 25px !important;">
                                <a href="Police_05-vehicleDetails3.html">
                                    <img src="assets/images/SVG/ic_VehDevicemap.svg" alt="logo" class="autoimg"> AP28DK1234 </a>
                            </td>
                            <td style="padding-left: 12px !important;padding-top: 10px !important;">DL234567890</td>
                            <td style="padding-top: 10px !important;padding-left: 14px !important;">9030165487</td>
                            <td style="padding-left: 23px !important;padding-top: 10px !important;">SEZ, Hitech City - 2, Gachibowli, Hyderabad</td>
                            <td style="padding-left: 23px !important;padding-top: 10px !important;">JNTU Kukatpally Hyderabad</td>
                            <td style="padding-left: 23px !important;padding-top: 10px !important;color:#63c48c;">Active</td>
                        </tr>
                        <tr>
                            <td style="padding-left: 25px !important;">
                                <a href="Police_05-vehicleDetails3.html">
                                    <img src="assets/images/SVG/ic_VehDevicemap.svg" alt="logo" class="autoimg"> AP28DK1234 </a>
                            </td>
                            <td style="padding-left: 12px !important;padding-top: 10px !important;">DL234567890</td>
                            <td style="padding-top: 10px !important;padding-left: 14px !important;">9030165487</td>
                            <td style="padding-left: 23px !important;padding-top: 10px !important;">SEZ, Hitech City - 2, Gachibowli, Hyderabad</td>
                            <td style="padding-left: 23px !important;padding-top: 10px !important;">JNTU Kukatpally Hyderabad</td>
                            <td style="padding-left: 23px !important;padding-top: 10px !important;color:#63c48c;">Active</td>
                        </tr>
                        <tr>
                            <td style="padding-left: 25px !important;">
                                <a href="Police_05-vehicleDetails3.html">
                                    <img src="assets/images/SVG/ic_VehDevicemap.svg" alt="logo" class="autoimg"> AP28DK1234 </a>
                            </td>
                            <td style="padding-left: 12px !important;padding-top: 10px !important;">DL234567890</td>
                            <td style="padding-top: 10px !important;padding-left: 14px !important;">9030165487</td>
                            <td style="padding-left: 23px !important;padding-top: 10px !important;">SEZ, Hitech City - 2, Gachibowli, Hyderabad</td>
                            <td style="padding-left: 23px !important;padding-top: 10px !important;">JNTU Kukatpally Hyderabad</td>
                            <td style="padding-left: 23px !important;padding-top: 10px !important;color:#63c48c;">Active</td>
                        </tr>
                        <tr>
                            <td style="padding-left: 25px !important;">
                                <a href="Police_05-vehicleDetails3.html">
                                    <img src="assets/images/SVG/ic_VehDevicemap.svg" alt="logo" class="autoimg"> AP28DK1234 </a>
                            </td>
                            <td style="padding-left: 12px !important;padding-top: 10px !important;">DL234567890</td>
                            <td style="padding-top: 10px !important;padding-left: 14px !important;">9030165487</td>
                            <td style="padding-left: 23px !important;padding-top: 10px !important;">SEZ, Hitech City - 2, Gachibowli, Hyderabad</td>
                            <td style="padding-left: 23px !important;padding-top: 10px !important;">JNTU Kukatpally Hyderabad</td>
                            <td style="padding-left: 23px !important;padding-top: 10px !important;color:#63c48c;">Active</td>
                        </tr>
                        <tr>
                            <td style="padding-left: 25px !important;">
                                <a href="Police_05-vehicleDetails3.html">
                                    <img src="assets/images/SVG/ic_VehDevicemap.svg" alt="logo" class="autoimg"> AP28DK1234 </a>
                            </td>
                            <td style="padding-left: 12px !important;padding-top: 10px !important;">DL234567890</td>
                            <td style="padding-top: 10px !important;padding-left: 14px !important;">9030165487</td>
                            <td style="padding-left: 23px !important;padding-top: 10px !important;">SEZ, Hitech City - 2, Gachibowli, Hyderabad</td>
                            <td style="padding-left: 23px !important;padding-top: 10px !important;">JNTU Kukatpally Hyderabad</td>
                            <td style="padding-left: 23px !important;padding-top: 10px !important;color:#63c48c;">Active</td>
                        </tr>
                        <tr>
                            <td style="padding-left: 25px !important;">
                                <a href="Police_05-vehicleDetails3.html">
                                    <img src="assets/images/SVG/ic_VehDevicemap.svg" alt="logo" class="autoimg"> AP28DK1234 </a>
                            </td>
                            <td style="padding-left: 12px !important;padding-top: 10px !important;">DL234567890</td>
                            <td style="padding-top: 10px !important;padding-left: 14px !important;">9030165487</td>
                            <td style="padding-left: 23px !important;padding-top: 10px !important;">SEZ, Hitech City - 2, Gachibowli, Hyderabad</td>
                            <td style="padding-left: 23px !important;padding-top: 10px !important;">JNTU Kukatpally Hyderabad</td>
                            <td style="padding-left: 23px !important;padding-top: 10px !important;color:#63c48c;">Active</td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="table_bottom">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="javascript:void(0);" style="border: none;">
                            <u>Prev</u>
                        </a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link" href="javascript:void(0);">1</a>
                    </li>
                    <li class="page-item ">
                        <a class="page-link" href="javascript:void(0);">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="javascript:void(0);">3</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="javascript:void(0);" style="border: none;">.</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="javascript:void(0);" style="border: none;">.</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="javascript:void(0);" style="border: none;">.</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="javascript:void(0);">1,456</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="javascript:void(0);" style="border: none;">
                            <u>Next</u>
                        </a>
                    </li>
                </ul>

            </div>
        </div>

    </div>