
<footer class="dash1Footer">
  <div class="footer">
    <div class="footer_top">
      <div class="row">
        <div class="col-sm-12">
          <div class="col-sm-4" style="margin-top:-23px;">
            <div class="logo" style="margin-top: 24px;margin-left: -17px;">
              <img src="assets/images/logo_ap.png" alt="logo" style="margin-right: 21px;">
              <span>  <br>  </span>
            </div>

          </div>

          <div class="col-sm-5" style="margin-top: 15px;">
            <span style="color:#6e7987;font-family:'open_sansregular';font-size:17px;"> © 2018 | <span style="font-size:15px;color:#7b58cd;font-family:'open_sansregular';">ABHAYA  -  </span> Ensuring women safety & security </span>
          </div>


          <div class="col-sm-3" style="margin-top: 15px;">

            <span> Developed By </span>

            <div class="logo" style="margin-top: -40px;margin-left: 171px;">
              <img src="assets/images/logo_otsi.png" alt="logo" style="margin-right: 21px;">
              <span>  <br>  </span>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer_bottom">
    </div>
  </div>
</footer>
