<nav>
  <div class="nav">
                <div class="title" style="width:100%;">
                    <div class="deviceReports">
                        <span><b>TODAY'S</b></span>  
                    </div>
                    <div class="Button_Today">
                        <div class="btn-group" id="status" data-toggle="buttons" style="margin-left: -42px;">
                            <label class="btn btn-default btn-on-1 btn-sm active" style="background-color: #5BB75B;    color: #fff;">
                                <input type="radio" value="1" name="multifeatured_module[module_id][status]" checked="checked" >TODAY</label>
                            <label class="btn btn-default btn-off-1 btn-sm" style="color: #5BB75B;;">
                                <input type="radio" value="0" name="multifeatured_module[module_id][status]">ALL</label>
                        </div>
                    </div>
                </div>  
                
                <div class="navigation">
                    <a href="login.html"><span> </span></a>
                </div>
            </div>
        </nav>
        <div class="wrapper">

            <div class="Dashboard" style="height:470px;">
                <div class="Dashboard_top" style="height:432px;">
                    <table class="table vehicleInstalltablePadding">
                        <thead>
                            <tr style="background-color: #f4edff; border-bottom: solid 1px #ccc;">
                                <th>VEHICLE NO.</th>
                                <th>Iot DEVICE NO.</th>             
                                <th>Owner Name</th>
                                <th>#Mobile Number</th>
                                <th>Maker's Class</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="padding-left: 25px !important;"><img src="assets/images/SVG/ic_deviceInstalled.svg" alt="logo" class="autoimg"> AP28DK1234</td>
                                <td style="padding-left: 12px !important;padding-top: 10px !important;">IOT123456789</td>
                                <td style="padding-top: 10px !important;padding-top: 10px !important;">Pampana Krishna</td>
                                <td style="padding-left: 23px !important;padding-top: 10px !important;">9030165487</td> 
                                <td style="padding-left: 23px !important;padding-top: 10px !important;">Bajaj Auto</td>
                                <td style="color:#63c48c;"></td>
                            </tr>
                            <tr style="background-color: #fff6ed;border-bottom:solid 1px #ccc;">
                                <td style="padding-left: 25px !important;"><img src="assets/images/SVG/ic_deviceInstalled.svg" alt="logo" class="autoimg"> AP28DK1234</td>
                                <td style="padding-left: 12px !important;padding-top: 10px !important;">IOT123456789</td>
                                <td style="padding-top: 10px !important;">Pampana Krishna</td>
                                <td style="padding-left: 23px !important;padding-top: 10px !important;">9030165487</td>
                                <td style="padding-left: 23px !important;padding-top: 10px !important;">Bajaj Auto</td>
                                <td style="color:#63c48c;padding-left: 29px !important;color: #465868;padding-top: 10px !important;"><i class="fa fa-pencil" style="font-size: 15px;"></i></td>
                            </tr>
                            <tr>
                                <td style="padding-left: 25px !important;"><img src="assets/images/SVG/ic_deviceInstalled.svg" alt="logo" class="autoimg"> AP28DK1234</td>
                                <td style="padding-left: 12px !important;padding-top: 10px !important;">IOT123456789</td>
                                <td style="padding-top: 10px !important;">Pampana Krishna</td>
                                <td style="padding-left: 23px !important;padding-top: 10px !important;">9030165487</td>
                                <td style="padding-left: 23px !important;padding-top: 10px !important;">Bajaj Auto</td>
                                <td style="color:#63c48c;"></td>
                            </tr>
                            <tr>
                                <td style="padding-left: 25px !important;"><img src="assets/images/SVG/ic_deviceInstalled.svg" alt="logo" class="autoimg"> AP28DK1234</td>
                                <td style="padding-left: 12px !important;">IOT123456789</td>
                                <td>Pampana Krishna</td>
                                <td style="padding-left: 23px !important;">9030165487</td>
                                <td style="padding-left: 23px !important;">Bajaj Auto</td>
                                <td style="color:#63c48c;"></td>
                            </tr>
                            <tr>
                                <td style="padding-left: 25px !important;"><img src="assets/images/SVG/ic_deviceInstalled.svg" alt="logo" class="autoimg"> AP28DK1234</td>
                                <td style="padding-left: 12px !important;">IOT123456789</td>
                                <td>Pampana Krishna</td>
                                <td style="padding-left: 23px !important;">9030165487</td>
                                <td style="padding-left: 23px !important;">Bajaj Auto</td>
                                <td style="color:#63c48c;"></td>
                            </tr>   
                            <tr>
                                <td style="padding-left: 25px !important;"><img src="assets/images/SVG/ic_deviceInstalled.svg" alt="logo" class="autoimg"> AP28DK1234</td>
                                <td style="padding-left: 12px !important;">IOT123456789</td>
                                <td>Pampana Krishna</td>
                                <td style="padding-left: 23px !important;">9030165487</td>
                                <td style="padding-left: 23px !important;">Bajaj Auto</td>
                                <td style="color:#63c48c;"></td>
                            </tr>   
                            <tr>
                                <td style="padding-left: 25px !important;"><img src="assets/images/SVG/ic_deviceInstalled.svg" alt="logo" class="autoimg"> AP28DK1234</td>
                                <td style="padding-left: 12px !important;">IOT123456789</td>
                                <td>Pampana Krishna</td>
                                <td style="padding-left: 23px !important;">9030165487</td>
                                <td style="padding-left: 23px !important;">Bajaj Auto</td>
                                <td style="color:#63c48c;"></td>
                            </tr>   
                            <tr>
                                <td style="padding-left: 25px !important;"><img src="assets/images/SVG/ic_deviceInstalled.svg" alt="logo" class="autoimg"> AP28DK1234</td>
                                <td style="padding-left: 12px !important;">IOT123456789</td>
                                <td>Pampana Krishna</td>
                                <td style="padding-left: 23px !important;">9030165487</td>
                                <td style="padding-left: 23px !important;">Bajaj Auto</td>
                                <td style="color:#63c48c;"></td>
                            </tr>  
                            <tr>
                                <td style="padding-left: 25px !important;"><img src="assets/images/SVG/ic_deviceInstalled.svg" alt="logo" class="autoimg"> <span class="vehicleNo" style="border:none;">AP28DK1234 </span></td>
                                <td style="padding-left: 12px !important;">IOT123456789</td>
                                <td>Pampana Krishna</td>
                                <td style="padding-left: 23px !important;">9030165487</td>
                                <td style="padding-left: 23px !important;">Bajaj Auto</td>
                                <td style="color:#63c48c;"></td>
                            </tr> 
                            <tr>
                                <td style="padding-left: 25px !important;"><img src="assets/images/SVG/ic_deviceInstalled.svg" alt="logo" class="autoimg"> AP28DK1234</td>
                                <td style="padding-left: 12px !important;">IOT123456789</td>
                                <td>Pampana Krishna</td>
                                <td style="padding-left: 23px !important;">9030165487</td>
                                <td style="padding-left: 23px !important;">Bajaj Auto</td>
                                <td style="color:#63c48c;"></td>
                            </tr> 
                        </tbody>
                    </table>

                </div>
                <div class="table_bottom">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="javascript:void(0);" style="border: none;"><u>Prev</u></a></li>
                        <li class="page-item active"><a class="page-link" href="javascript:void(0);">1</a></li>
                        <li class="page-item "><a class="page-link" href="javascript:void(0);">2</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0);" >3</a> </li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0);" style="border: none;">.</a> </li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0);" style="border: none;">.</a> </li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0);" style="border: none;">.</a> </li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0);">1,456</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0);" style="border: none;"><u>Next</u></a></li>
                    </ul>

                </div>
            </div>

        </div>