<div class="login_wrapper">
  <div class="login_left">
    <img src="assets/images/bg_login.png" alt="logo" style="margin-right: 69px;">
  </div>
  <div class="login_right"> <!--class="login_right"-->
    <div class="row">
      <img src="assets/images/logo_login.png" class="login_logo_img" alt="logo" style="margin-right: 62px; float: right;">
    </div>
    <div class="row"></div>
    <div class="row" style="margin: 50px -15px 0px 93px;">
      <h2 style="color: #5946c3;font-weight:600;">| Login</h2>
    </div>
    <div class="row" style="margin: 50px -15px 0px 93px;">
      <div class="col-sm-6">
        <div class="form-group">
          <div class="select-dropdown drop-cap">
            <select class="form-input" id="userType" name="userType" style="height: 50px;width:317px;font-size: 16px;color:#9e9898">
              <option value="true">USER TYPE</option>
              <option value="true">Driver</option>
              <option value="true">RTA Person</option>
              <option value="true">ABC</option>
            </select>
          </div>

        </div>
      </div>
    </div>
    <div class="row" style="margin: 2px -15px 0px 93px;">
      <div class="col-sm-6">
        <div class="form-group">
          <input class="form-input" type="text" placeholder="User Name" name="prNo" tabindex="2" style="width: 318px;font-size: 17px;color:black;">

        </div>
      </div>
    </div>
    <div class="row" style="margin: 2px -15px 0px 93px;">
      <div class="col-sm-6">
        <div class="form-group">
          <input class="form-input" type="text" placeholder="Password" name="prNo" tabindex="2" style="width:318px;font-size: 17px;color:black">
        </div>
      </div>
    </div>
    <div class="row" style="margin: 2px -15px 0px 93px;">
      <div class="col-sm-6">
        <div class="form-group">
          <!--<a href="dashboard.html">--> <button type="button" class="loginBtn" (click)="login();"> Login </button><!--</a>-->
        </div>
      </div>
    </div>
  </div>
</div>
