<nav>
  <div class="nav">
    <div class="title">
      <div class="deviceReports">
        <div class="dropdown">
          <button class="dropbtn">DEVICE REPORTS
          </button>
        </div>
        <!--   <span>DEVICE REPORTS</span>  -->
      </div>
      <div class="operationalReports">
        <span style="margin-left: 68px;">OPERATIONAL REPORTS</span>
      </div>
    </div>

    <button class="btn_report" (click)="open()">  <span><i class="fa fa-plus"></i></span></button>
    <div class="navigation">
      <a href="login.html"><span> </span></a>
    </div>
  </div>
</nav>
<div class="wrapper">
  <div class="Dashboard">
    <div class="Dashboard_bottom">
      <div class="Dashboard_bottom_left">
        <div class="row">
          <div class="col-sm-12">
            <div class="col-sm-3">
              <div class="dashboard_left_first">
                <img src="assets/images/SVG/ic_deviceInstalled.svg" alt="logo" style="height: 44px;margin-left: 44px;margin-top: 7px;margin-bottom: 5px;" >
                <span style="margin-left: 41px;color: #fff;">1,00,000</span> <br>
                <span style="margin-left: 28px;color: #fff;">Total Vehicles </span>
              </div>
            </div>
            <div class="col-sm-3" style="padding:0px 0px 0px 0px;height: 100px;">
              <div class="dashboard_left_second">
                <div class="totalInstall">
                                            <span style="font-size:19px;color: #8e939d;">
                                                Total Installed </span> <br>
                  <span style="font-size:24px;color: #48ba78; font-weight:bold;"> 89485 </span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:80%;background-color: #48ba78;">
                      <span class="sr-only">70% Complete</span>
                    </div>
                  </div>
                </div>

              </div>

            </div>
            <div class="col-sm-3" style="padding:0px 0px 0px 0px;height: 100px;">
              <div class="dashboard_left_third" style="border-right: solid 1px #ccc;">
                <div class="todayInstall">
                  <span style="font-size:19px;color: #8e939d;"> <a  routerLink="/rta/installed" style="font-size: 19px;color: #8e939d;">Today's Installed </a></span> <br> <span style="font-size:24px;color: #feaf4b;"> 2700 </span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%;background-color: #feaf4b;">
                      <span class="sr-only">70% Complete</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-3" style="padding:0px 0px 0px 0px;height: 100px;">
              <div class="Dashboard_bottom_fourth">
                <div class="totalPendings">
                  <span style="font-size:19px;color: #8e939d;"> Total Pending's </span> <br> <span style="font-size:24px;color: #f78b83;"> 10515 </span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:10%;background-color: #f78b83;">
                      <span class="sr-only">70% Complete</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="Dashboard_bottom_right">
        <div class="row">
          <div class="col-sm-12">
            <div class="col-sm-4">
              <div class="dashboard_left_first_one">
                <img src="assets/images/SVG/ic_stoppageVehc.svg" alt="logo" style="height: 44px;margin-left: 38px;margin-top: 7px;margin-bottom: 5px;" >

                <span style="margin-left: 33px;color: #fff;">Stoppage </span><span style="margin-left: 17px;color: #fff;">vehicle Reports </span>
              </div>
            </div>
            <div class="col-sm-4" style="padding:0px 0px 0px 0px;height: 100px;">
              <div class="dashboard_left_second">
                <div class="totalVehicles">
                  <span style="font-size:19px;color: #8e939d;"> Total Vehicles </span> <br> <span style="font-size:24px;color: #48ba78;"> 168 </span>
                </div>
              </div>
            </div>
            <div class="col-sm-4" style="padding:0px 0px 0px 0px;height: 100px;">
              <div class="dashboard_left_third" >
                <div class="todayVehicles">
                  <span style="font-size:19px;color: #8e939d;"> Today's Vehicles </span> <br> <span style="font-size:24px;color: #feaf4b;"> 8 </span>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="Dashboard_top">

      <div class="Dashboard_top_left">

        <img src="assets/images/districtwise_reports.jpg" class="dashboard_top_left_image">

      </div>

      <div class="Dashboard_top_right">
        <div class="right_top">
          <span style="color:#475969"> Recent History </span>
          <button type="button" style="margin-left: 125px;margin-left: 125px;background-color: #475969;color: #fff;border-radius: 12px;border: none;"> View All</button>
        </div>

        <table class="table">
          <thead>
          <tr>
            <th>VEHICLE NO.</th>
            <th>IoT DEVICE NO.</th>
            <th>Status</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>AP28DK1234</td>
            <td>IOT123456789</td>
            <td style="color:#63c48c;">Active</td>
          </tr>
          <tr>
            <td>AP28DK1234</td>
            <td>IOT123456789</td>
            <td style="color:#63c48c;">Active</td>
          </tr>
          <tr>
            <td>AP28DK1234</td>
            <td>IOT123456789</td>
            <td style="color:#63c48c;">Active</td>
          </tr>
          <tr>
            <td>AP28DK1234</td>
            <td>IOT123456789</td>
            <td style="color:#63c48c;">Active</td>
          </tr>
          <tr>
            <td>AP28DK1234</td>
            <td>IOT123456789</td>
            <td style="color:#63c48c;">Active</td>
          </tr>
          </tbody>
        </table>

      </div>

    </div>

  </div>
</div>
